{% set mesos_slave_count = (groups['mesos-slave'])|length %}
{
  "id": "/core/dnsmasq",
  "dependencies": [
    "/core/consul-agent"
  ],
  "cpus": 0.1,
  "mem": 32.0,
  "instances": {{ mesos_slave_count }},
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "andyshinn/dnsmasq:latest",
      "network": "HOST",
      "parameters": [
        { "key": "cap-add", "value": "NET_ADMIN" }
      ]
    }
  },
  "healthChecks": [
    {
      "protocol": "COMMAND",
      "command": {
        "value": "true"
      },
      "gracePeriodSeconds": 120,
      "intervalSeconds": 10,
      "timeoutSeconds": 10,
      "maxConsecutiveFailures": 3
    }
  ],
  "args": ["-S", "/consul/127.0.0.1#8600", "--log-facility=-"],
  "constraints": [["hostname", "UNIQUE"]]
}
