{
  "services": [
    {
      "name": "mesos-master",
      "address": "{{ hostvars[ansible_hostname]['ansible_' + network.interface].ipv4.address }}",
      "port": 5050,
      "enableTagOverride": false,
      "checks": [
        {
          "http": "http://{{ hostvars[ansible_hostname]['ansible_' + network.interface].ipv4.address }}:5050",
          "interval": "10s"
        }
      ]
    },
    {
      "name": "marathon-master",
      "address": "{{ hostvars[ansible_hostname]['ansible_' + network.interface].ipv4.address }}",
      "port": 8080,
      "enableTagOverride": false,
      "checks": [
        {
          "http": "http://{{ hostvars[ansible_hostname]['ansible_' + network.interface].ipv4.address }}:8080",
          "interval": "10s"
        }
      ]
    },
    {
      "name": "chronos-master",
      "address": "{{ hostvars[ansible_hostname]['ansible_' + network.interface].ipv4.address }}",
      "port": 4400,
      "enableTagOverride": false,
      "checks": [
        {
          "http": "http://{{ hostvars[ansible_hostname]['ansible_' + network.interface].ipv4.address }}:4400",
          "interval": "10s"
        }
      ]
    }
  ]
}
