{
  "services": [
    {
      "name": "dnsmasq-proxy",
      "address": "{{ hostvars[inventory_hostname]['ansible_' + network.interface].ipv4.address }}",
      "port": 53,
      "enableTagOverride": false,
      "checks": [
        {
          "tcp": "{{ hostvars[inventory_hostname]['ansible_' + network.interface].ipv4.address }}:53",
          "interval": "10s"
        }
      ]
    }
  ]
}
